<!-- meta -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- link -->
<!-- icon de la page -->
<link href="/images/ico/favicon.ico" rel="shortcut icon" type="image/ico" />
<!-- Boostrap -->
<link href="/modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<!-- font-awesome -->
<link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!-- NProgress -->
<link href="/modules/nprogress/nprogress.css" rel="stylesheet" type="text/css">
<!-- parsley -->
<link href="/lib/parsley/app.parsley.css" rel="stylesheet" type="text/css">
<!-- iCheck -->
<link href="/lib/iCheck/all.css" rel="stylesheet" type="text/css" />
<!-- Diaspora santé -->
<link href="/css/app.css" rel="stylesheet" />

<!-- Title of the page -->
<title>
    <%= title %>
</title>