<!DOCTYPE html>

<html>

<head>
    <% include _partials/_header %>
</head>

<body>

    <div class="container">

        <div class="row">

            <div class="col-xl-4 d-none d-xl-block"></div>

            <div class="col-sm-12 col-xl-4">
        
                <div class="row">
                    <div class="col-xl-12 
                                d-xl-block d-sm-node d-md-none 
                                pb-3" style="cursor:pointer;">
                        <center>
                            <img src='/images/png/iroll.png' style="height: 70px;" class="img-responsive" />
                        </center>
                    </div> 
                    <div class="col-xl-12 text-center">
                        <p class="lead">
                            Se connecter à Diaspora Santé
                        </p>
                    </div>
                </div>
        
                <div class="login-panel panel panel-default">
        
                    <div class="panel-body">
                        <form role="form" id="form" method="POST" data-parsley-validate>
                            <fieldset>
                                <!-- ./Hiddent -->
                                <div class="form-group">
                                    <label for="login">Compte <small class="text-red">*</small>:</label>
                                    <input class="form-control" placeholder="Compte..." name="code" id="code" type="text" required autofocus />
                                </div>
                                <div class="form-group">
                                    <label for="password">Mot de passe <small class="text-red">*</small>:</label>
                                    <input class="form-control" placeholder="Mot de passe..." name="password" id="password" type="password" required />
                                </div>        
                                <div>
                                    <label>
                                        <input name="remember" id="remember" type="checkbox" class="flat-iCheck"> Se souvenir de moi
                                    </label>
                                </div>
                                <button id="bt_submit" type="submit" class="btn btn-lg btn-success btn-block"
                                        data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Authentification en cours...">
                                    <i class="fa fa-check"></i> Se connecter
                                </button>
                            </fieldset>
                        </form>
                    </div>
        
                </div>
        
                <div class="col-lg-12 pt-3 text-center">
                    <span id="dnn_dnnCOPYRIGHT_lblCopyright" class="footer">
                        2018 V <%= version %></small>
                    </span>
                </div>
        
            </div>

            <div class="col-xl-4 d-none d-xl-block"></div>
                
        </div>
        
    </div>

    <% include _partials/_footer %>

    <script type="text/javascript">

        $("#form").submit(
            function (event) {
                // -- Annuler l'action par défaut -- //
                event.preventDefault();

                // -- Variable -- //
                var form = $(this);

                // -- Check if form is validate -- //
                if (!form.parsley().isValid()) {
                    return false;
                }

                // -- Afficher/Cacher l'etat de chargement de la page -- //
                displayLoadingPage(true, 'bt_submit');

                //#region Ajax
                $.ajax({
                    type: "POST",
                    url: '/authentication/',
                    data: form.serialize() + '&remember=' + $("#remember").prop('checked'),
                    success: function (resultat) {
                        if (!resultat.notification.est_echec) {
                            // -- Redirection -- //
                            appModule.redirection(resultat.notification.donnee.url);
                        } else {
                            // -- Reset le formulaire -- //
                            form[0].reset();
                            // -- Notifier -- //
                            messageBox(resultat.notification);
                        }

                        // -- Afficher/Cacher l'etat de chargement de la page -- //
                        displayLoadingPage(false, 'bt_submit');
                    },
                    error: function () {
                        // -- Afficher/Cacher l'etat de chargement de la page -- //
                        displayLoadingPage(false, 'bt_submit');
                        // -- Notifier -- //
                        messageBox();
                    }
                });
                //#endregion
            }
        );

    </script>

</body>

</html>