<!DOCTYPE html>

<html>

<head>
    <% include _partials/_header %>
</head>

<body class="bg-light">

    <% include _partials/_footer %>

    <script type="text/javascript">

        $(
            function(){

            }
        );

    </script>

</body>

</html>