<!-- Modal Message -->
<div class="modal fade" id="modal_message" tabindex="-1" role="dialog" aria-labelledby="modal_message_titre" aria-hidden="true">
    <div id="modal_message_taille" class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <!-- Header -->
                <p class="font-weight-bold lead">
                    <!-- Title -->
                    <span id="modal_message_titre"></span>
                    <!-- Close bouton -->
                    <button type="button" class="close float-right" data-dismiss="modal" aria-hidden="true">
                        <i class="fa fa-times"></i>
                    </button>
                </p>
                <!-- Message -->
                <p class="text-center" id="modal_message_text"></p>
            </div>
            <div class="modal-footer">
                <button id="modal_message_btn_fermer" type="button" class="btn btn-sm btn-light float-right" data-dismiss="modal">
                    <i class="fa fa-remove"></i> Fermer
                </button>
            </div>
        </div>
    </div>
</div>